<div class="card">
  <div class="card-block">
    <h4 class="card-title">
      <%= customer.full_name %>
    </h4>
  </div>

  <% if customer.image.present? %>
    <%= image_tag customer.image, class: 'card-img-top img-fluid mx-auto d-block' %>
  <% end %>

  <div class="card-block">
    <p class="card-text">
      <strong>Province: </strong>
      <% if customer.province.present? %>
        <%= customer.province.name %>
      <% else %>
        Unknown
      <% end %>
    </p>
    <p class="card-text">
      <%= customer.phone %>
    </p>
    <p class="card-text">
      <%= customer.email %>
    </p>
    <% if @customers_to_call.include?(customer) %>
      <%= link_to 'Mark as Called', mark_as_called_customer_path(customer), method: :post %>
    <% else %>
      <%= link_to 'Remember To Call', remember_to_call_customer_path(customer), method: :post %>
    <% end %>
  </div>
</div>
